/**** Header  *****/

#header {

    color: rgb(4, 4, 41);

    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: center;
    margin-bottom: 1em;
}

a {
    color: rgb(4, 4, 41);
    font-weight: 100;
    text-decoration: none;
}

/********* middle container for sidebar and map ********/

.middleContainer {
    display: flex;
}

#restId {
    display: none;
}

/*********** sidebar **********/

nav {
    align-content: left;
    color: red;
    display: flex;
    font-weight: 100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 50vh;
    justify-content: center;
    margin-right: 1em;
    order: 1;
    width: 30vw;
}

/********* Map section**********/

#map {
    display: flex;
    height: 50vh;
    order: 2;
    width: 70vw;

}

/****Comments *********/

#notes {
    align-content: top;
    color: rgb(4, 4, 41);
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    height: auto;
    justify-content: center;
    margin-top: 1em;
    padding: 1em;
}

/********** Footer  *************/

.footer {

    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(1fr);
    grid-template-areas: "footerTitle       footerTitle        footerTitle      footerTitle""footerTitle       footerTitle        footerTitle      footerTitle""footerTitle       footerTitle        footerTitle      footerTitle""footerTitle       footerTitle        footerTitle      footerTitle""formSection       formSection . .""formSection       formSection        footerAddress    footerTwitter""formSection       formSection        footerAddress    footerInstagram""formSection       formSection        footerPhone      footerWebsite""formSection       formSection        footerEmail      footerFacebook""formSection       formSection . .";
    margin-top: 1em;
}

.footerTitle {
    grid-area: footerTitle;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 1em;
    color: white;
    font-weight: 600;
}

.footerMediaLink {
    color: white;
    font-weight: 600;
}

#footerTitleBold {
    font-weight: bold;
}

.footerAddress {
    grid-area: footerAddress;
    justify-content: center;
}

.footerPhone {
    grid-area: footerPhone;
}

.footerEmail {
    grid-area: footerEmail;
}

.footerTwitter {
    grid-area: footerTwitter;
}

.footerInstagram {
    grid-area: footerInstagram;
}

.footerWebsite {
    grid-area: footerWebsite;
}

.footerFacebook {
    grid-area: footerFacebook;
}

/****form styling*****/

input[type=text],
select,
textarea {
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    padding: 12px;
    width: 96%;
}

#fname {
    width: 48%;
}

#email {
    width: 48%;
}

/* When moving the mouse over the submit button, add a darker  color */

.submitButton {
    background-color: rgb(181, 196, 223);
    border: #002633;
    cursor: pointer;
    margin-bottom: 1em;
}

.submitButton:hover {
    border: solid;
    background-color: #008080;
}

.formSection {
    grid-area: formSection;
    border-radius: 5px;
    margin-left: 1em;
}